body {
    margin: 0px;
    background: url(/Resources/Background.jpg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    padding: 1em;
    margin: 0%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 150px;
    padding: 1em;
    float: left;
    clear: float;
}

.header {
    background-color: rgb(177, 134, 183);
    position: sticky;
    top: 0px;
}

.test {
    height: 2000px;
    width: 80%;
    border: 10px;
    border-style: dashed;
    border-color: aliceblue;
}