
/* Universal table styling */

th {
    background-color: rgb(177, 134, 183);
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {
    background-color: #ddd;
}

table {
    border: 1px solid black;
    margin: auto;
    width: 90%;
    padding: 0px 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Universal form styling*/

form {
    width: 60%;
    padding: 20px 0;
    font-size: 1.5em;
    margin: auto;
}

.loginform {
    width: 40%;
    border: #6c6c6c;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 100px;
}

.logininput {
    text-align: center;
}

input[type=text], input[type=password], input[type=date], input[type=email], input[type=tel] {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #c695c6;
    color: white;
}

input[type=submit], input[type=button] {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    background-color: #c695c6;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    padding: 5px;
    transition-duration: 0.4s;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #aa76aa;
}

label {
    margin: 20px;
    transition-duration: 0.4s;
}

p.error {
  color: red;
}


/* Styling of index, Font site-wide */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    background: url(/images/Background.jpg) no-repeat center fixed;
    background-size: cover;
}

.content {
    width: 80%;
    background-color: white;
    margin: auto;
}


/* Header styling */
.header_h1 {
    padding: 1em;
    margin: 0%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}

.header_logo {
    width: 150px;
    padding: 1em;
    float: left;
}

.header_user_icon {
    width: 50px;
    padding: 2em;
    float:right;
}

#header-right {
    color: white;
    padding-right: 1em;
    padding-top: 2em;
    text-align: right;
}

#header-right a {
    color: white;
    padding: 2px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
}

#header-right a:visited {
    color: white;
}
.header-wrapper {
    position: sticky;
    top: 0px;
    background-color: rgb(177, 134, 183);
    margin: 0px;
}

.header {
    display: flex;
    align-items: stretch;
    height: 130px;
}

#header-left {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}
#header-middle {
    flex-grow: 1;
    position: relative;
}
#header-right {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

#sqllogger {
    transition: max-height 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana;
    border: 1px solid black;
    box-sizing: border-box;
    max-height: 130px;
    overflow: auto;
    box-sizing: border-box;
}

#sqllogger.expanded {
    max-height: 1000px;
}

#sqllogger_fullscreen_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.sqllogger_inner {
    width: 100%;
}

span.sql_text {
    font-size: 14px;
    font-family: Verdana;
    color: #000000;
}

span.sql_keyword {
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
    color: #c695c6;
}

/* Navbar styling */

.navigation {
    width: 100%;
    height: 80px;
    background-color: #6c6c6c;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 130px;
}

.navitem {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    transition-duration: 0.4s;
}

.navitem:hover {
    background-color: #7e7e7e;
}

.navitem > img {
    height: 80%;
}

.navitem button {
    appearance: none;
}



/* Ingredients list styling */

.ingredients_flexbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.ingredients_flexitem {
    margin: 25px;
    padding-top: 30px;
    width: 22%;
    border-radius: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #c695c6;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    font-size: 1.5em;
    padding-bottom: 30px;
}

.ingredients_flexitem:hover {
    background-color: #aa76aa;
    box-shadow: 0 5px 12px 5px #c695c6a1, 0 6px 22px 5px #c695c6bb;
}

.ingredients_pic {
    margin: auto;
    width: 70%;
    border-radius: 20px;
}



/* Ingredients/Boxes details styling */

.details_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.details_headline {
    margin-top: 0;
    padding-left: 50px;
    padding-top: 30px;
}

.details_pic {
    display: block;
    margin: auto;
    width: 60%;
    grid-column: 2;
    padding: 30px;
    border-radius: 20%;
    background-color: #aa76aa;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details_nutrition {
    grid-column: 1;
    box-sizing: border-box;
    padding-left: 40px;
    border-bottom: 2px solid #6c6c6c;
}


.details_nutrition ul {
    list-style-type: none;
    font-size: 1.5em;
    padding: 0;
}

.details_boxcontent {
    grid-column: 1;
}

.details_info {
    grid-column: 1;
    padding-left: 40px;
}

.details_info ul{
    list-style-type: none;
    font-size: 1.5em;
    padding: 0;
}


.details_order {
    grid-column: 2;
}

#amount {
    font-size: 1em;
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
}



/* Filter box styling*/

.filterbox {
    display: none;
    width: 100%;
    background-color: #7e7e7e;
    color: white;

}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]:checked + Label,
input[type="radio"]:checked + Label {
    background-color: rgb(177, 134, 183);
}

input[type="checkbox"] + Label:hover,
input[type="radio"] + Label:hover {
    background-color: #aa76aa;
}
